{% extends "blog/base.html"%}
{% block content%}
    
    <article class="media content-section">
        <div class="media-body">
            <h1>Meist</h1>
            <p class="article-content">Siia mingi info</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates aliquid incidunt voluptatum! Quod, nostrum. Aut fugit reprehenderit explicabo nisi corrupti amet cupiditate! Tempora asperiores hic, natus sed vel voluptatem reprehenderit.</p>
        </div>
    </article>
{% endblock content%}

